{% extends 'diagerda/base.html' %}
{% load static %}
{% load mediapath %}
{% block content %}

{% if user.is_authenticated %}
<div class="container marketing">
    <div class="row">
        {% for object in object_list %}
        <div class="col-lg-4">
            <h2>{{ object.diagnostic}} {{ object.doctor}}</h2>
            <h4>{{ object.date }}</h4>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
<h3>Просмотр записей на прием к врачу доступен только авторизованным пользователям</h3>
<h4>Пожалуйста, авторизуйтесь!</h4>
{% endif %}

{% endblock %}